body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.cal{
    border:1px solid;
    width: 500px;
    height: 200px;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

